.top-container{
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #15e6e2;
}

.current-progress-container{
    width: 100%;
    background-color: #ffffff;
    height: 10px;
}

.progress-bar{
    height: 10px;
    background: #8b02b5;
    width: 0%;
}